.container {
  max-width: 500px;
}

.message {
  width: 75%;
  border-radius: 15px;
}

#incoming-message {
  margin-left: auto;
  background-color: blue;
  color: white;
}

#response {
  color: black;
}
